version: '3.0'

services: 
    nodejs:
        build: 
            context: ./nodejs
        networks: 
            - app
        volumes: 
            - ./nodejs:/usr/src/app
        command: bash -c "npm install && node migration.js && node index.js"
        depends_on:
            - nodedb
    nginx:
        build:
            context: ./nginx
        ports: 
            - "8080:80"
        networks: 
            - app
        depends_on:
            - nodejs
    nodedb:
        image: mysql:5.7
        environment: 
            MYSQL_DATABASE: node
            MYSQL_ROOT_PASSWORD: 12345678
        networks: 
            - app

networks: 
    app: 